table, td, th{
    border:solid thin black; 
    border-collapse:collapse;
}
td, th{
    padding:10px;
}
.bday{
    width:70px;
}
.name{
    width:70px;
}
.parent{
    width:30px;
}
.price{
    max-width:60px; 
    text-align:right;
}
.color{
    width:60px;
    max-width:60px;
}
.videoURL{
    width:100px;
}
.imageThumb{
    max-height:75px;
    max-width:75px;
}
.addPhoto{
    padding:20px;
    border:solid thin black;
}
.addPhoto label{
    font-weight:bold;
    margin-left:20px;
}
.addPhoto label:first-child{
    margin-left:0;
}
.addPhoto button{
    margin-left:20px;
}
.btn-logout{
    float:right;
    margin-bottom:10px;
    margin-top:-20px;
}

.groupEmail label{
    min-width:100px;
    display:inline-block;
    padding:5px;
    font-weight:bold;
}
.groupEmail button{
    padding:10px;
    margin:10px;
}

.address{
    display:inline-block;
    min-width:100px;
}

.socialMedia label{
    color:aliceblue;
}
.socialMedia button{
    padding:10px;
    margin:10px;
}

/*the following styles are for the dark theme, which is easier on trey's eyes...*/
body {
    background-color:#333;
    color:#DDD;
}
a{
    color:#1b7aff;
}
.description{
    max-height:100px;
    height:100px;
    overflow-y:scroll;
}