table, td, th{
    border:solid thin black; 
    border-collapse:collapse;
}
td, th{
    padding:10px;
}
.bday{
    width:70px;
}
.name{
    width:70px;
}
.parent{
    width:20px;
}
.price{
    max-width:60px; 
    text-align:right;
}
.color{
    width:60px;
    max-width:60px;
}
.imageThumb{
    max-height:75px;
    max-width:75px;
}
.addPhoto{
    padding:20px;
    border:solid thin black;
}
.addPhoto label{
    font-weight:bold;
    margin-left:20px;
}
.addPhoto label:first-child{
    margin-left:0;
}
.addPhoto button{
    margin-left:20px;
}